@import "./reset.css";

body {
	font-family: Inter;
	background-color: gray;
}

.container {
	max-width: 350px;
	width: 100%;
	margin: 0 auto;
	padding: 0 15px;
}

.header {
	padding-top: 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
