@import "./reset.css";

body {
	font-family: Inter;
	font-weight: 400;
	background: linear-gradient(180deg, #110101 0%, rgba(13, 2, 2, 0.52) 100%);
}

.container {
	max-width: 350px;
	width: 100%;
	margin: 0 auto;
	padding: 0 10px;
}

.header {
	padding-top: 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.title {
	font-size: 23px;
	font-weight: 700;
	color: #fff;
}

.main {
	padding-top: 15px;
}

.card-wrapper {
	padding: 20px 0;
	display: flex;
	flex-wrap: wrap;
	gap: 12px;
	max-height: calc(100vh - 55px);
	overflow-y: auto;
}

.card {
	flex: 0 1 48%;
	padding: 15px;
	border: 2px solid #fff8f8;
	border-radius: 20px;
	max-width: 170px;
}

.card__rating {
	color: gold;
}
.card__title {
	font-size: 14px;
}

.card-wrapper {
	overflow: auto;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.card-wrapper::-webkit-scrollbar {
	width: 0;
	height: 0;
}
