@import "./reset.css";

body {
	font-family: Inter, sans-serif;
	font-weight: 400;
	background: linear-gradient(180deg, #110101 0%, rgba(13, 2, 2, 0.52) 100%);
}

.wrapper {
}

.container {
	position: relative;

	max-width: 370px;
	width: 100%;
	margin: 0 auto;
	padding: 0 10px;
}

.header {
	padding-top: 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.title {
	font-size: 23px;
	font-weight: 700;
	color: #fff;
}

.main {
	padding-top: 15px;
}

.card-wrapper {
	padding: 20px 0;
	display: flex;
	flex-wrap: wrap;
	gap: 12px;
	max-height: calc(100vh - 55px);
	overflow-y: auto;
}

.card {
	display: block;
	flex: 0 1 48%;
	padding: 15px;
	border: 2px solid #fff8f8;
	border-radius: 20px;
	max-width: 170px;
}

.card__img {
	margin-bottom: 8px;
}

.card__rating {
	color: gold;
}

.card__price {
	color: #fff;
	font-size: 18px;
	font-weight: 700;
}

.card__title {
	font-size: 14px;
	color: #6b6969;
}

.card-wrapper {
	overflow: auto;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.card-wrapper::-webkit-scrollbar {
	width: 0;
	height: 0;
}

.privacy-icon {
	cursor: pointer;
}

/* End Main Page Styles */

.privacy {
	position: absolute;
	top: 0;
	left: 0;
	transform: translateX(400px);
	opacity: 0;
	margin: 0 auto;
	max-width: 370px;
	width: 100%;
	padding: 0 10px;
	z-index: 2;
	background: linear-gradient(180deg, #110101 0%, rgba(13, 2, 2, 1) 100%);
	color: #fff;
	transition: 0.2s ease-in-out all;
}
.privacy.active {
	opacity: 1;
	transform: translateX(0);
}

.privacy__header {
	display: flex;
	align-items: center;
	margin-bottom: 25px;
	padding-top: 15px;
}
.privacy__back {
	cursor: pointer;
}
.privacy__title {
	text-align: center;
}

.privacy__content {
	overflow: auto;
	border: 2px solid #fff8f8;
	border-radius: 20px;
	padding: 10px;
	padding-bottom: 50px;
	max-height: calc(100vh - 50px);
}

.privacy__text {
	text-align: center;
}

.privacy__content {
	overflow: auto;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.privacy__content::-webkit-scrollbar {
	width: 0;
	height: 0;
}
