* {
	margin: 0;
	padding: 0;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	line-height: calc(1em + 0.725rem);
	-webkit-font-smoothing: antialiased;
}

body {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

main {
	display: block;
}

a,
a:link,
a:visited {
	text-decoration: none;
}
svg,
img {
	display: block;
	max-width: 100%;
	height: auto;
}
